<div class="tab-container">
    <mat-tab-group class="tab-group" mat-align-tabs="center">
        <mat-tab class="mat-tab" label="Invited">
            <app-lead-container></app-lead-container>
            <app-lead-container></app-lead-container>
            <app-lead-container></app-lead-container>
            <app-lead-container></app-lead-container>
        </mat-tab>
        <mat-tab label="Acepted">
            <app-lead-container></app-lead-container>
        </mat-tab>
    </mat-tab-group>
</div>