.lead-footer-container{
    margin: 10px !important;
    display: flex;
    flex-direction: row;
}

.lead-footer-description{
    color:dimgrey;
    font-size: large;
    margin: 20px 5px 5px 5px;
}

.btn-footer{
   margin:10px;
}

.btn-accept{
    padding: 3px;
    background-color: #7B1FA2;
    color: #FFF;
    font-size: large;
    width: 100px;
    height: 40px;
}

.btn-decline{
    padding: 3px;
    background-color: red;
    color: #FFF;
    margin-left: 8px;
    font-size: large;
    width: 100px;
    height: 40px;
}