<div class="lead-header-container">
    <div class="size-70 circle">{{getFirstCharacter(lead.fullName)}}</div>
    <div class="lead-header-title">
        <span class="lead-header-title">{{lead.fullName}}</span>
        <span class="lead-header-date-created">{{lead.dateCreated}}</span>
    </div>
</div>
<div class="location-container">
    <span class="location-description">{{lead.suburb}}</span>
    <span class="location-description">{{lead.category}}</span>
    <span class="location-description">Job ID: {{lead.jobId}}</span>
</div>